@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  font-size: 10px; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  background-color: #fff;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, ul, p, ol {
  margin: 0;
  padding: 0;
  font-weight: 500; }

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 2.3rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; }

h3 {
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif; }

p {
  font-size: 1.2rem;
  font-weight: normal; }

ul {
  list-style-type: none; }

input {
  outline: none; }

header .top_header {
  padding: 25px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  header .logo img {
    padding: 0 15px 0 0; }
  header .logo h2 {
    color: #f29700;
    font-size: 3rem; }
  header .logo p {
    color: #3c4148;
    font-size: 1.4rem; }

header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  header .search input {
    width: 250px;
    border-radius: 3px;
    border: 1px solid #dbddde;
    padding: 2px 35px 2px 5px;
    margin-top: 18px;
    background-image: url("img/search_g.svg");
    background-repeat: no-repeat;
    background-position: 98% 5px;
    background-size: 15px; }
  header .search input:focus {
    background-image: url("img/search.svg"); }

header .custom_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  header .custom_nav li {
    padding: 15px 20px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer; }
    header .custom_nav li:hover {
      background-color: #f29700;
      color: #fff; }
  header .custom_nav .activ {
    background-color: #3c4148 !important;
    color: #fff; }

.line {
  border-top: 1px solid #dbddde; }

.custom_carousel .item {
  padding: 60px 0 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 90vh; }
  .custom_carousel .item .bg {
    background-color: rgba(0, 0, 0, 0.5); }
  .custom_carousel .item .carousel-caption {
    top: 30px;
    left: 20%;
    text-align: left;
    text-shadow: none; }
    .custom_carousel .item .carousel-caption .custom_label {
      font-size: 1.6rem;
      color: #fff;
      background-color: #f29700;
      border-radius: 0px;
      text-transform: uppercase;
      padding: 9px;
      display: inline;
      font-weight: bold; }
    .custom_carousel .item .carousel-caption h1 {
      font-size: 6rem;
      font-weight: bold;
      margin-bottom: 33px;
      margin: 15px 0 33px;
      line-height: 1; }
    .custom_carousel .item .carousel-caption p {
      font-size: 1.6rem;
      font-weight: bold; }

.custom_carousel .carousel-indicators li {
  margin: 0 8px;
  border-radius: 0;
  border: 1px solid #fff; }
  .custom_carousel .carousel-indicators li:hover {
    background-color: #857b6e; }

.custom_carousel .carousel-indicators .active {
  background-color: #f29700 !important;
  border: 1px solid #f29700; }

.navbar-default {
  padding: 0;
  margin: 0;
  border: none;
  background: #fff;
  border-radius: 0px;
  min-height: auto; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #dbddde;
  margin-bottom: 50px; }
  .services li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 36px 18px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    cursor: pointer; }
    .services li div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      width: 45px;
      height: 45px; }
    .services li p {
      font-size: 13px;
      font-weight: bold;
      color: #3c4148;
      margin-bottom: -5px;
      padding-left: 15px; }
    .services li:hover {
      background-color: #eeeeee;
      border-left: 1px solid #dbddde;
      border-right: 1px solid #dbddde; }

@media (max-width: 992px) {
  header .custom_nav li {
    font-size: 1.2rem; }
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .custom_carousel .item .carousel-caption {
    left: 5%; }
    .custom_carousel .item .carousel-caption h1 {
      font-size: 5rem; } }

@media (max-width: 767px) {
  header .custom_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  header .top_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .custom_carousel .item .carousel-caption h1 {
    font-size: 4rem; }
  .custom_carousel .item .carousel-caption p {
    font-size: 1.3rem; } }

@media (max-width: 380px) {
  .custom_carousel .item .carousel-caption h1 {
    font-size: 3.5rem; } }

/*# sourceMappingURL=all.css.map */
