@media (max-width: 992px) {
	header {
		.custom_nav {
			li {
				font-size: 1.2rem;
			}
		}
	}
	.services {
		flex-direction: column;
		align-items: stretch;
	}
	.custom_carousel {
		.item {
			.carousel-caption {
				left: 5%;
				h1 {
					font-size: 5rem;
				}
			}
		}
		
	}
}

@media (max-width: 767px) {
	header {
		.custom_nav {
			flex-direction: column;
			align-items: stretch;
		}
		.top_header {
			
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}
	}
	.custom_carousel {
		.item {
			.carousel-caption {
				h1 {
					font-size: 4rem;
				}
				p {
					font-size: 1.3rem;
				
				}
			}
		}
	}
}

@media (max-width: 380px) {
	.custom_carousel {
		.item {
			.carousel-caption {
				h1 {
					font-size: 3rem;
				}
			}
		}
	}
}