@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/helveticaneuecyr-bold.otf") ;
}

@font-face {
  font-family: "Myriad";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/MyriadPro-Bold.otf") ;
}
@font-face {
  font-family: "Myriad";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/MyriadPro-Regular.otf") ;
}
